@font-face {
  font-family: "iconfont"; /* Project id 3631672 */
  src: url('iconfont.woff2?t=1663684945113') format('woff2'),
       url('iconfont.woff?t=1663684945113') format('woff'),
       url('iconfont.ttf?t=1663684945113') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-icon_test_51:before {
  content: "\e602";
}

.icon-lianjie:before {
  content: "\e601";
}

.icon-yangshi_icon_tongyong_compass:before {
  content: "\e667";
}

.icon-icon_location_on:before {
  content: "\e600";
}

.icon-igw-l-warning:before {
  content: "\e617";
}

.icon-suo:before {
  content: "\e626";
}

.icon-xingxing:before {
  content: "\e60e";
}

