@import './common.scss';
@import './ellipsis.scss';
@import './hairline.scss';
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 page {
    width: 100%;
    height: 100%;
    background-color: #FBFAF9;
    box-sizing: border-box;
 }